.footer {
    width: 100%;
    margin-top: auto;
    /* sticky footer behavior */
    background-color: #c0c0c0;
    /* change if you want */
    color: #000;
}

.footer-content {
    width: 100%;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    font-size: 0.85rem;

    /* keep text nicely centered without shrinking the background */
    max-width: 1100px;
    margin: 0 auto;
}

.footer-content>* {
    flex: 1;
}

.footer-copy {
    margin: 0;
    margin-bottom: 0.5rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}